
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.media-wrap {
    grid-column-start: 1;
    grid-column-end: 2;
}

.travel-wrap {
    grid-column-start: 1;
    grid-column-end: 2;

}

.search-wrap {
    grid-column-start: 2;
    grid-column-end: 3;
}

.favorites-wrap {
    grid-column-start: 2;
    grid-column-end: 3;
}

.webcam {
    background: black;
}

