
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.media-wrap {
    grid-column-start: 1;
    grid-column-end: 3;
}

.table-wrap {
    grid-column-start: 3;
    grid-column-end: 4;

}

.search-wrap {
    grid-column-start: 1;
    grid-column-end: 3;
}

.favorites-wrap {
    grid-column-start: 3;
    grid-column-end: 4;
}

.webcam {
    background: black;
}