
body {
    background: url("../images/railayBeachBG.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Karla', sans-serif;
}

/* POSITION / LAYOUT
================================================================= */
.container {
    display: grid;
    grid-template-columns: 1fr;
}
.dataDiv {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-gap: 0.5em;
}

.dataResult {
    border-radius: 5px;
    background: #000000c7;
    color: white;
    font-family: 'Roboto Slab', serif;
}

/* NAVBAR
================================================================= */
.navbar-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

#slogan {
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.search-form {
    display: grid;
    grid-gap: 0.5em;
    justify-self: center;
}

#search-btn {
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    font-variant: small-caps;
}

.nav-links {
    justify-self: end;
    text-align: right;
    align-self: flex-start;
}

.nav-links a {
    color: #00078b;
    text-decoration: none;
}

.nav-links a:hover {
    color: blue;
}

/* WEBCAM / MEDIA
================================================================= */
.webcam {
    width: 100%;
    height: 90%;
}

#mobileAd {
    display: none;
}

/* TRAVEL / FAVORITES
================================================================= */
.table thead th {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
